
<form class="form-group" role="form" method="post" asp-controller="Product" asp-action="Search">
    <div class="d-flex align-items-center">
        <input class="form-control" name="Name" type="text" />
        <button class="btn-custom ms-2">Search</button>
    </div>

</form>